<h1>{{ title }}</h1>

<div class="card mb-3" ng-controller="RecordController">
    <div class="card-header">
        <i class="fa fa-medkit"></i> Clinical Data Record Form
    </div>
    <div class="card-body">
        <form class="form-horizontal" name="frmRecord">
            <fieldset>

                <!-- Select Basic -->
                <!-- <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Titre</label>
                    <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Mademoiselle</option>
                        <option value="2">Madame</option>
                        <option value="3">Monsieur</option>
                    </select>
                    </div>
                </div> -->
                <!-- Patient Data -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="FirstName">First Name</label>
                        <input id="FirstName" name="FirstName" ng-readonly="{{patientDataReadOnly}}" ng-model="patient.FirstName" ng-readonly placeholder="FirstName Placeholder" class="form-control input-md" required="" type="text">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label" for="LastName">Last Name</label>
                        <input id="LastName" name="LastName" ng-model="patient.LastName" ng-readonly="{{patientDataReadOnly}}" placeholder="LastName Placeholder" class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="DateOfBirth">Date of Birth</label>
                        <input id="DateOfBirth" name="DateOfBirth" ng-model="patient.DateOfBirth" ng-readonly="{{patientDataReadOnly}}" placeholder="Date of Birth" class="form-control input-md" required="" type="text">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label" for="Gender">Gender</label>
                        <input id="Gender" name="Gender" ng-model="patient.Gender" ng-readonly="{{patientDataReadOnly}}" placeholder="Gender Placeholder" class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <!-- Record Data -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="MeasurementType">Measurement Type</label>
                        <select id="MeasurementType" name="MeasurementType" ng-model="recordDetails.DataType" ng-readonly="{{recordDataReadOnly}}" class="form-control input-md" required>
                            <option></option>
                            <option value="Body Temperature (C)">Body Temperature (C)</option>
                            <option value="Blood Pressure">Blood Pressure</option>
                            <option value="Heart Rate">Heart Rate</option>
                            <option value="Systolic Blood Pressure">Systolic Blood Pressure</option>
                            <option value="Diastolic Blood Pressure">Diastolic Blood Pressure</option>
                            <option value="Red Blood Cell">Red Blood Cell</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label" for="MeasurementValue">Reading</label>
                        <input id="MeasurementValue" name="MeasurementValue" ng-model="recordDetails.Reading" ng-readonly="{{recordDataReadOnly}}" placeholder="MeasurementValue" class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="MeasurementDate">Date</label>
                        <input id="MeasurementDate" name="MeasurementDate" ng-model="recordDetails.DateTime" ng-readonly="{{recordDataReadOnly}}" placeholder="MeasurementDate" class="form-control input-md" required="" type="text">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label" for="Practitioner">Practitioner</label>
                        <input id="Practitioner" name="Practitioner" ng-model="recordDetails.Practitioner" ng-readonly="{{recordDataReadOnly}}" placeholder="Practitioner" class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="MedicalCenter">MedicalCenter</label>
                        <input id="MedicalCenter" name="MedicalCenter" ng-model="recordDetails.MedicalCenter" ng-readonly="{{recordDataReadOnly}}" placeholder="MedicalCenter" class="form-control input-md" required="" type="text">
                    </div>
                </div>


                <!-- Button -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <button id="Save" name="Save" class="btn-primary btn-lg" data-title="Update" data-ng-click="showModal()">Save</button>
                        <!--<button id="Save" name="Save" ng-show="showButton" class="btn-primary btn-lg" data-title="Update" data-toggle="modal" data-target="#update" title="Update">Save</button>-->
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title custom_align" id="Heading">Update this Record</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <i class="fa fa-pencil"></i>
                        Are you sure you want to update this Record?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="updateRecord()">
                        Update
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>