/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* Clinical Data Table Style */
.table-striped thead tr:not(.filter) th, .table-striped tfoot tr th  {
  background-color: #343A40;
  color: #fff;
}

.actions a {
  color: black;
}

.filter input{
    width: 100%;
}

.table-striped tbody tr td {
  vertical-align: middle;
}

/* To ensure the content will be seen in all the available width */
@-ms-viewport{
  width: device-width;
}

/*
*************************** 
Media Queries
***************************
*/

/* FLUID TYPOGRAPHY */
/* [minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]); */

/* Minimum sizes for the smallest screen.
   It is in fixed units but from that point we appy fluid increase of size */
   
  .fluid-type-h1 {
    font-size: 25px;
  }
  
  /* For Mobile */
  @media (min-width: 320px) and (max-width: 799px) {  
   
    .fluid-type-h1{
      font-size: calc(25px + 10 * ((100vw - 320px) / 479));
    }
  }
  /* For Tablets */
  @media (min-width: 800px) and (max-width: 1199px) {  
   
    .fluid-type-h1{
      font-size: calc(35px + 10 * ((100vw - 800px) / 399)); 
    }
  }
  /* For Desktop */
  @media (min-width: 1200px) {  
    
    .fluid-type-h1{
      font-size: calc(45px + 10 * ((100vw - 1200px) / 760)); 
    }
    
  }