
<h1>Clinical Data for Patient Fatih</h1>

<div class="card mb-3" ng-controller="ClinicalDataController">
    <div class="card-header">
        <i class="fa fa-table"></i> Clinical Data Record
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Measurement Type</th>
                        <th>Reading</th>
                        <th>DateTime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Measurement Type</th>
                        <th>Reading</th>
                        <th>DateTime</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="aRecord in records">
                        <td>{{ aRecord.DataType }}</td>
                        <td>{{ aRecord.Reading }}</td>
                        <td>{{ aRecord.DateTime }}</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="js/sb-admin-datatables.min.js"></script>
